@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*For all content*/
:root{
    --blue-a: #3976A8;
    --blue-b: #47A7F5;
    --pink: #F5645f;
    --yellow: #F1F578;
    --red: #A83531;
    --white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 100px;
    background-color: var(--blue-a);
    padding: 15px;
    z-index: 8;
}

.menu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.logo-img {
    height: 70px;
}

.menu-icon {
    font-size: 2.4em;
    color: var(--white);
    line-height: 50px;
}

nav {
    position: absolute;
    background-color: var(--blue-a);
    top:100px;
    left:0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all 30ms;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    display: inline-block;
    padding: 12px;
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover, nav ul li a:focus {
    color: var(--blue-b);
}

#checkbox {
    display: none;
}

#checkbox:checked ~ nav ul {
    max-height: 200px;
    padding: 15px 0;
    transition: all 0.5s;
}

@media (min-width: 768px) { 
    .menu-icon {
        display: none;
    }
    nav {
        position: relative;
        top: -10px;
        background-color: transparent;
    }
    nav ul {
        max-height: 70px;
        padding: 15px 0;
        text-align: right;
    }
    nav ul li {
        display: inline-flex;
        padding-left: 20px;
    }
}